<!doctype html>
<html lang="en">
  <head>
    <meta name="author" content="Your name" />
    <meta
      name="keywords"
      content="Museum, Carnegie Mellon University, Information Systems"
    />
    <meta name="description" content="MonoMuse website redesign project" />
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100;0,400;1,100&display=swap"
      rel="stylesheet"
    />
    <title>MonoMuse</title>
    <script src="../static/script.js" defer></script>
  </head>
  <body onload="addYear()">
    <div class="container">
      <header class="header"></header>
      <nav class="nav_bar">
        <a href="../index.html">Home</a>
        <a href="explore.html">Explore</a>
        <a href="exhibitions.html">Exhibitions</a>
        <a class="cta" href="tickets.html">Buy Tickets</a>
      </nav>
      <main class="main">
        <h3>Signal & Shadow</h3>
        <p>
          A light-and-sound exhibition where visitors shape the space using motion
          and touch.
        </p>

        <h3>Code as Canvas</h3>
        <p>
          A rotating collection of generative artworks that transform algorithms
          into living visuals.
        </p>
      </main>
      <figure class="main_img">
        <img
          id="logo"
          src="../static/Gemini_Generated_Image_3s03on3s03on3s03.png"
          alt="MonoMuse Museum Logo"
        />
      </figure>
      <footer class="footer">
        <p>© MonoMuse</p>
        <p id="copyYear"></p>
      </footer>
    </div>
  </body>
</html>
